@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  /* user-select: none; */
  font-family: "Figtree", sans-serif;
  scroll-behavior: smooth;
}
button {
  outline: none;
}

.input {
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
.campaign_table {
  background: #ffffff;
  /* Gray/200 */
  border: 1px solid #eaecf0;
  /* Shadow/sm */
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}


.empty {
  background: linear-gradient(125.93deg, #f0c3c9 0%, #fdf8f1 90.11%);
  border-radius: 16px;
}
.let {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.swipeIn {
  animation-name: swipeIn;
  -webkit-animation-name: swipeIn;
}

@keyframes swipeIn {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0px);
  }
}

@-webkit-keyframes swipeIn {
  0% {
    -webkit-transform: translateX(200%);
  }

  100% {
    -webkit-transform: translateX(0px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
